.container {
    max-width: 1000px;
    margin: 0 auto;
    border: 2px solid black;
    text-align: center;
    display: grid;
    margin-top: 50px;
}
.block {
    border: 2px solid black ;
    padding: 10px;
    font-size: 20px;
}
.block1 {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: green;
}
.block6 {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: chocolate;
}
.block span {
    padding: 20px;
    display: block;
}
.block div{
    background-color: dodgerblue;
    color: #fff;
    height: 90px;
    width: 200px;
    margin: 0 auto;
    padding-top: 40px;
    transition: 1s;
}
.block0{
    padding: 20px;
    background-color: rgb(169, 192, 255);
}
.block0:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.rasm1:hover{
    transform: rotate(360deg);
}
.rasm2:hover{
    transform: rotate(45deg);   
}
.rasm3:hover{
    transform: matrix(0.5, 0.1, 0.1, 0.5, 10, 15);
}
.rasm4:hover{
    transform: translate(30px, 30px) rotate(45deg) scale(0.8);
}